.onglets {
  cursor:pointer;
  border-radius:10px;
  padding:10px;
  margin:2px;
  width:100%;
  font-weight:lighter;
  border:1px solid lightblue;
  font-size:24px;
}
.active {
  border:1px solid rgb(202, 32, 32);
  background:whitesmoke;
  color: #0f0e0e;
}

.wrap{
  flex-wrap:wrap;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:white
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  z-index: 3000;
}


code {
  font-family: refrigerator-deluxe, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-style: normal;
  font-weight: 300;
}
.about{
  padding:20px 20px 0px 20px;
}
.button-grey{
  background-color: rgb(42, 39, 39);
  padding:10px;
  border-radius:10px;
  color:lightblue;
  width:auto;
  text-align:center;
  margin:2px;
}
.buttons-exp{
  display:flex;
  width:auto;
  justify-content:center;
}

.education{
  
  border-radius:10px;
  height: auto;
  font-size:100%;
  margin:5px;
  font-family:roboto;
  /* background-color: #0d0d11; */

}
.education h1 {
  text-align:center;
}
.education h3 {
  text-align:center;
  color:lightblue;
}
#immopreneur_project_details {
  background-image: linear-gradient(to right,var(--tw-gradient-stops));
  border-radius:10px;
  color:whitesmoke;
  opacity:0.9;
  padding:20px;
}
#resume{
  /* background-color: #0d0d11; */
  border-radius:10px;
  padding:20px;
  color:whitesmoke;
}

.after-effect:after {
  position: absolute;
  top: 50%;
  height: 0.125rem;
  --tw-translate-y: -50%;
  border-radius: 0.375rem;
  background-image: linear-gradient(to right,var(--tw-gradient-stops));
  --tw-content: "";
  content: var(--tw-content);
}
.me{
  text-align: center;
  margin:0 auto;
  border-radius:100px;
  width: 200px;
}

.selfie { 
  background-color: #0d0d11;
  opacity: 0.9;
  /* background-image:  linear-gradient(30deg, #332f2f 12%, transparent 12.5%, transparent 87%, #332f2f 87.5%, #332f2f), linear-gradient(150deg, #332f2f 12%, transparent 12.5%, transparent 87%, #332f2f 87.5%, #332f2f), linear-gradient(30deg, #332f2f 12%, transparent 12.5%, transparent 87%, #332f2f 87.5%, #332f2f), linear-gradient(150deg, #332f2f 12%, transparent 12.5%, transparent 87%, #332f2f 87.5%, #332f2f), linear-gradient(60deg, #332f2f77 25%, transparent 25.5%, transparent 75%, #332f2f77 75%, #332f2f77), linear-gradient(60deg, #332f2f77 25%, transparent 25.5%, transparent 75%, #332f2f77 75%, #332f2f77); */
  background-size: 8px 14px;
  background-position: 0 0, 0 0, 4px 7px, 4px 7px, 0 0, 4px 7px;
  border-radius:20px;
  margin-top:20px;
  padding:10px;
}
.selfie:hover { 
  
  opacity: 1;
  /* background-image:  linear-gradient(30deg, #332f2f 12%, transparent 12.5%, transparent 87%, #332f2f 87.5%, #332f2f), linear-gradient(150deg, #332f2f 12%, transparent 12.5%, transparent 87%, #332f2f 87.5%, #332f2f), linear-gradient(30deg, #332f2f 12%, transparent 12.5%, transparent 87%, #332f2f 87.5%, #332f2f), linear-gradient(150deg, #332f2f 12%, transparent 12.5%, transparent 87%, #332f2f 87.5%, #332f2f), linear-gradient(60deg, #332f2f77 25%, transparent 25.5%, transparent 75%, #332f2f77 75%, #332f2f77), linear-gradient(60deg, #332f2f77 25%, transparent 25.5%, transparent 75%, #332f2f77 75%, #332f2f77); */
 
}

.profile{
  text-align: center;
}

.projects {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  
}
.project{
  border:1px solid whitesmoke;
  margin:5px;
  width:250px;
  border-radius:20px;
  padding:20px;
  text-align:center;
  padding: 10px;
  margin:0 auto;
  margin-top:20px;
}

.project:hover {

  box-shadow:0px 0px 10px rgb(202, 32, 32);
  margin:5px;
  width:250px;
  border-radius:20px;
  padding:10px;
  text-align:center;
  padding: 10px;
  margin:0 auto;
  margin-top:20px;
}

.project-image{
  height:150px;
}

#projo-description {
  padding:5px;
}


.Myhobbies{
  display:none;
}

.project h4 {
  color:white;
}
.eduExp{
  display:flex;
}
.flex{
  display:flex;
  justify-content:space-evenly;
}

.jobTitle {
  width:200px;
  padding:20px;
  color:whitesmoke;
  border-radius:20px;
  background-color:rgba(20, 19, 19, 0.839);
  text-align:center;

}
.jobTitle h2 {
  margin:0 auto;
}
.Myhobbies{
  margin-top:230px;
}
.hr-fat{
  height:100px;
}

.downloadCV{
  background: linear-gradient(#ed1f1f,#271f6c);
  border-radius: 10px;
  font-size: 24px;;
  margin:20px;
  padding:20px;
  color:white;
  text-align:center;
  cursor:pointer;
}


.profile-data{
  color:white;
  width:240px;
  border-radius:10px;
  padding:20px;
  margin:0 auto;
  margin-top:40px;
  margin-bottom:40px;
  background-color: rgb(26, 24, 24);
  opacity:0.9;
  text-align: left;
}
.nav-item{
  text-align: center;
  color:white;
}

.navbar-toggle{
color:white;
}
@media only screen and (min-width:1661px){
  
  .about{
    margin:0 auto;
    width:90%;
    height:130px;
  }
  .about p {
    font-size: 32px;
  }
  .education{
    margin:0 auto;
    width:90%;
    height:auto;
  }

  .fixed {
    height: 20vh;
  
  transform:translate(0px,350px);
  }
  .sidebar.selfie  { 
    background-color: #0f0e0e;
    opacity: 0.8;
    background-size: 8px 14px;
    background-position: 0 0, 0 0, 4px 7px, 4px 7px, 0 0, 4px 7px;
    border-radius:20px;
    margin-top:0px;
    padding:10px;
    transform:translate(0px,-70px);
  }
  .sidebar.selfie:hover { 
    background-color: #0f0e0e;
    opacity: 0.9;
  }

  .navtog{
  
    width:20%;
    background:transparent;
    border-radius: 20px;
    margin-left:1170px;
  }
  }

@media only screen and (min-width:1440px) and (max-width:1660px) {
#cloud{
  width:600px;
}
.about{
  margin:0 auto;
  width:100%;
  height:300px;
}
.fixed {
  display:none;
}
.about p {
  font-size: 28px;
}
.education{
  margin:0 auto;
  width:100%;
  height:auto;
}
}
@media only screen and (min-width:1440px) {

  .nav-item{
    text-align: center;
    color:white; 
  }
  .navbar-brand{
    margin-right:00px;
  }
  .app{
    display:flex;
    justify-content:space-around;
    padding:20px 100px;
  }
  .sidebar{
    width:400px;
    margin:0 auto;
    
  }
  .profile {
    width:45%;
    margin:50px;
  }

 
  .Home{
    padding:20px;
  }
 

  .techno{
    display:flex;
    flex-wrap:wrap;
  }
  .Backend {
    border:1px solid white;
    border-radius:10px;
    box-shadow:0px 0px 10px rgb(202, 32, 32);
    background-color:rgba(red, rgb(157, 207, 157), blue, alpha);
    margin:0 auto;
    margin-top:10px;
    margin-bottom:10px;
    padding:20px;
    width:200px;
  }
  
  .linkto {
    width:80%;
  }

  
  .nav-link{
    background: rgb(36, 35, 35);
    border-radius: 10px;
    margin:20px;
    padding:20px;
    color:white;
    height:100px;
    width:80px;
  }
  .nav-link:hover{
    background: linear-gradient(#ed1f1f,#271f6c);
    border-radius: 10px;
    color:white;
    height:100px;
    width:80px;
  }
  
  .navtog{
  
    width:20%;
    background:transparent;
    border-radius: 20px;
    margin-left:970px;
  }
  #nav{
    border-radius: 20px;
    display:none;
    justify-content:flex-start;

  }
  
  .navbar .navbar-expand-lg{
    margin-left:200px;
  } 

  .about p {
    font-size: 24px;
  }
  
  
}



@media only screen and (min-width:1366px) and (max-width:1439px) {
  
  .app{
    display:flex;
    justify-content:space-around;
    padding:0px 60px 120px 60px;
  }
  .about p {
    font-size: 20px;
  }
  .sidebar{
    width:320px;
    margin:0 auto;
    
  }
  
  .profile {
    width:30%;
    margin:10px;
    padding:20px;
  }
  .projects {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
  }
  .project{
    
    margin:5px;
    border-radius:20px;
    padding:10px;
    text-align:center;
    padding: 10px;
    margin:0 auto;
    margin-top:20px;
  }
  
  .project:hover {
  
    box-shadow:0px 0px 10px rgb(202, 32, 32);
    margin:5px;
    border-radius:20px;
    padding:10px;
    text-align:center;
    padding: 10px;
    margin:0 auto;
    margin-top:20px;
  }
  #projo-description {
    font-size:12px;
  }

  .navbar{
    width:100%;
    position:absolute;
  }
 
  #resume p {
    font-size:16px;
  }
  #resume img {
    width:100px;
  }
  .selfie h1{
    font-size:28px;
  }
  .selfie h2{
    font-size:20px;
  }
  .techno{
    display: flex;
  flex-wrap: wrap;
  }
  .Backend {
    border:1px solid white;
    box-shadow:0px 0px 10px rgb(202, 32, 32);
    background-color:rgba(red, rgb(157, 207, 157), blue, alpha);
    width:45%;
    height:auto;
    margin:0 auto;
    padding:15px;
    margin-bottom:10px;
    border-radius:10px;
  }
  .fixed {
    display:none;
  }
  
  .linkto {
    width:80%;
  }

  
  .nav-link{
    background: rgb(36, 35, 35);
    border-radius: 10px;
    margin:20px;
    padding:20px;
    color:white;
    height:100px;
    width:80px;
  }
  .nav-link:hover{
    background: linear-gradient(#ed1f1f,#271f6c);;
    border-radius: 10px;
    color:white;
    height:100px;
    width:80px;
  }
  .navtog{
  
    width:20%;
    background:transparent;
    margin-left:570px;
    border-radius: 20px;
  }
}
@media only screen and (min-width:992px) and (max-width:1365px) {
  
  .app{
    display:flex;
    justify-content:space-around;
   
  }
 
  .about p {
    font-size: 20px;
  }
  .fixed {
    display:none;
  }

  .sidebar{
    width:270px;
    margin:0 auto;
    
  }
  .profile {
    width:30%;
    margin:10px;
    padding:20px;
  }
  .projects {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
  }
  .project{
    
    margin:5px;
    border-radius:20px;
    padding:10px;
    text-align:center;
    padding: 10px;
    margin:0 auto;
    margin-top:20px;
  }
  
  .project:hover {
  
    box-shadow:0px 0px 10px rgb(202, 32, 32);
    margin:5px;
    border-radius:20px;
    padding:10px;
    text-align:center;
    padding: 10px;
    margin:0 auto;
    margin-top:20px;
  }
  #projo-description {
    font-size:12px;
  }

  .navbar{
    width:100%;
    position:absolute;
  }
 
  #resume p {
    font-size:16px;
  }
  #resume img {
    width:100px;
  }
  .selfie h1{
    font-size:28px;
  }
  .selfie h2{
    font-size:20px;
  }
  .techno{
    display: flex;
  flex-wrap: wrap;
  }
  .tech-exp {
    display:flex;
    justify-content: space-evenly;
    padding:20px;
  }
  .Backend {
    border:1px solid white;
    box-shadow:0px 0px 10px rgb(202, 32, 32);
    background-color:rgba(red, rgb(157, 207, 157), blue, alpha);
    width:45%;
    height:auto;
    margin:0 auto;
    padding:15px;
    margin-bottom:10px;
    border-radius:10px;
  }
  
  .linkto {
    width:80%;
  }

  
  .nav-link{
    background: rgb(36, 35, 35);
    border-radius: 10px;
    margin:20px;
    padding:20px;
    color:white;
    height:100px;
    width:80px;
  }
  .nav-link:hover{
    background: linear-gradient(#ed1f1f,#271f6c);;
    border-radius: 10px;
    color:white;
    height:100px;
    width:80px;
  }
  .navtog{
  
    width:20%;
    background:transparent;
    margin-left:570px;
    border-radius: 20px;
  }
  
}
@media only screen and (min-width:426px) and (max-width:991px) {
  .app{
    display:block;
  }
  .about{
    margin:0 auto;
    width:100%;
  }
  #about{
    padding:20px 20px 20px 20px;
    margin:0 auto;
  }
  .about p {
    font-size: 28px;
    margin-bottom:80px;
  }
  
  .custom-toggler{
    position:absolute;
    top:0;
    right:0;
    margin:2px;
    z-index:1020;
  }

  .Backend {
    border:1px solid white;
    border-radius:10px;
    box-shadow:0px 0px 10px rgb(202, 32, 32);
    background-color:rgba(red, rgb(157, 207, 157), blue, alpha);
    width:100%;
    margin:0 auto;
    padding:15px;
    margin:2px;
  }

  #resume{
    padding:30px;
    margin:0 auto;
    margin-top:100px;
  }
  #projects{ 
    padding:30px;
    margin:0 auto;
    margin-top:100px;
  }
  .navtog{
    position: absolute;
    top:0;
    width:100%;
  }
  h1{
    text-align: center;
  }

  .profile {
    margin-top:0px;
  }
 
  h1{
    text-align: center;
  }

  #nav{
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #0e0d0d 4px ), repeating-linear-gradient( #183d5d55, #183d5d );
    padding:10px;
    margin-top:36px;
  }
  
  .nav-link{
    background-color:rgba(20, 19, 19, 0.839);   
    border-radius: 10px;
    padding:20px;
    color:lightblue;
    height:90px;
  }

.nav-link:hover{
  background: linear-gradient(#ed1f1f,#271f6c);
  border-radius: 10px;
  color:lightblue;
  height:90px;
  box-shadow:0px 0px 10px rgba(0,0,0,0.1);
}

.profile {
  margin-top:150px;
}

.sidebar.selfie  { 
  background-color: #0d0d11;
  opacity: 0.9;
  background-size: 8px 14px;
  background-position: 0 0, 0 0, 4px 7px, 4px 7px, 0 0, 4px 7px;
  border-radius:20px;
  margin-top:0px;
  padding:30px;
  transform:translate(0px,-70px);
}
.sidebar.selfie:hover { 
  opacity: 1;
}
}


@media only screen and (max-width:425px) {
  .app{
    display:block;
  }
  .about p {
    font-size: 24px;
    margin-bottom:40px;
  }
  .Backend {
    border:1px solid white;
    box-shadow:0px 0px 10px rgb(202, 32, 32);
    background-color:rgba(red, rgb(157, 207, 157), blue, alpha);
    width:100%;
    margin:0 auto;
    padding:15px;
    margin:2px;
    border-radius:10px;
  }
  .custom-toggler{
    position:absolute;
    top:0;
    right:0;
    margin:2px;
    z-index:1020;
  }
  
  #resume{
    margin-top:100px;
    padding:30px;
  }
  #projects{
    padding:30px;
  }
  #about{
    padding:10px;
    margin:0 auto;
  }
  h1{
    text-align: center;
  }

 
  #nav{
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #0e0d0d 4px ), repeating-linear-gradient( #183d5d55, #183d5d );
    padding:10px;
    margin-top:36px;
  }
  
  .nav-link{
    background-color:rgba(20, 19, 19, 0.839);   
    border-radius: 10px;
    padding:20px;
    color:lightblue;
    height:70px;
  }

  
.nav-link:hover{
  background: linear-gradient(#ed1f1f,#271f6c);
  border-radius: 10px;
  color:lightblue;
  height:70px;
  box-shadow:0px 0px 10px rgba(0,0,0,0.1);
}
.navtog{
  position: absolute;
  top:0;
  width:100%;

}
.profile {
  margin: 10px;
  margin-top:150px;
}

.sidebar.selfie  { 
  background-color: #0d0d11;
  opacity: 0.9;
  background-size: 8px 14px;
  background-position: 0 0, 0 0, 4px 7px, 4px 7px, 0 0, 4px 7px;
  border-radius:20px;
  margin-top:0px;
  padding:10px;
  transform:translate(0px,-70px);
}
.sidebar.selfie:hover { 
  opacity: 1;
}
}
