body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:white
}



code {
  font-family: refrigerator-deluxe, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-style: normal;
  font-weight: 300;
}
.about{
  padding:20px;
}
.after-effect:after {
  position: absolute;
  top: 50%;
  height: 0.125rem;
  --tw-translate-y: -50%;
  border-radius: 0.375rem;
  background-image: linear-gradient(to right,var(--tw-gradient-stops));
  --tw-content: "";
  content: var(--tw-content);
}
.me{
  text-align: center;
  margin:0 auto;
  border-radius:100px;
  width: 200px;
}

.selfie { 
  background-color: #0f0e0e;
  opacity: 0.6;
  /* background-image:  linear-gradient(30deg, #332f2f 12%, transparent 12.5%, transparent 87%, #332f2f 87.5%, #332f2f), linear-gradient(150deg, #332f2f 12%, transparent 12.5%, transparent 87%, #332f2f 87.5%, #332f2f), linear-gradient(30deg, #332f2f 12%, transparent 12.5%, transparent 87%, #332f2f 87.5%, #332f2f), linear-gradient(150deg, #332f2f 12%, transparent 12.5%, transparent 87%, #332f2f 87.5%, #332f2f), linear-gradient(60deg, #332f2f77 25%, transparent 25.5%, transparent 75%, #332f2f77 75%, #332f2f77), linear-gradient(60deg, #332f2f77 25%, transparent 25.5%, transparent 75%, #332f2f77 75%, #332f2f77); */
  background-size: 8px 14px;
  background-position: 0 0, 0 0, 4px 7px, 4px 7px, 0 0, 4px 7px;
 
  border-radius:20px;
  margin-top:20px;
  padding:10px;
}

.profile {
  margin:40px;
}
.profile{
  text-align: center;
  margin-top:60px;
}

.projects {
  display:flex;
  flex-wrap:wrap;
  
}
.project {
  width:250px;
}
.project:hover {
  border-left:#0f0e0e;
  border-right:#ed1f1f;
}
.project h4 {
  color:white;
}
.eduExp{
  display:flex;
}
.flex{
  display:flex;
  justify-content:space-evenly;
}

.jobTitle {
  width:200px;
  padding:20px;
  color:whitesmoke;
  border-radius:20px;
  background-color:rgba(20, 19, 19, 0.839);
  text-align:center;

}
.jobTitle h2 {
  margin:0 auto;
}


.downloadCV{
  background: linear-gradient(#ed1f1f,#271f6c);
  border-radius: 10px;
  font-size: 24px;;
  margin:20px;
  padding:20px;
  color:white;
  text-align:center;
}


.profile-data{
  color:white;
  width:240px;
  border-radius:10px;
  padding:20px;
  margin:0 auto;
  margin-top:40px;
  margin-bottom:40px;
  background-color: rgb(26, 24, 24);
  opacity:0.9;
  text-align: left;
}
.nav-item{
  text-align: center;
  color:white;
}
.navbar-toggle{
color:white;
}

@media only screen and (min-width:992px) {
  
  .responsive {
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding:20px;
  }
  .profile {

  }
  /* .main-content {
    height: 70%;
    overflow-y: auto; 
  }
  .sidebar {
    height: 90%;
  }
  .app {
    width: 100vw;
    height: 100vh;
  } */

  .Backend {
    border:1px solid white;
    box-shadow:0px 0px 10px rgb(202, 32, 32);
    background-color:rgba(red, rgb(157, 207, 157), blue, alpha);
    width:80%;
    margin:0 auto;
    padding:40px;
  }

  .profile {
    margin:200px 0px 0px 100px;
    width:70%;
  }
  .linkto {
    width:1500px;
  }

  
  .nav-link{
    background: rgb(36, 35, 35);
    border-radius: 10px;
    margin:20px;
    padding:20px;
    color:white;
    height:100px;
    width:80px;
  }
  .nav-link:hover{
    background: linear-gradient(#ed1f1f,#271f6c);;
    border-radius: 10px;
    color:white;
    height:100px;
    width:80px;
  }
  
}
@media only screen and (min-width:426px) and (max-width:991px) {
  .responsive {
    display:grid;
    grid-template-columns: 1fr;
  }
  .navtog{
    position: absolute;
    top:0;
    width:100%;
  }
  h1{
    text-align: center;
  }

  .profile {
    margin-top:100px;
  }
 
  h1{
    text-align: center;
  }

  .navbar {
    background-color:rgba(20, 19, 19, 0.83);
  }
  
  .nav-link{
    background-color:rgba(20, 19, 19, 0.839);   
    border-radius: 10px;
    margin:5px;
    padding:20px;
    color:white;
    height:60px;
  }

  
.nav-link:hover{
  border-radius: 10px;
  margin:5px;
  padding:20px;
  color:white;
  height:60px;
  width:90%;
  box-shadow:0px 0px 10px rgba(0,0,0,0.1);
}
.navtog{
  position: absolute;
  top:0;
  width:93%;
}
.profile {
  margin: 10px;
  margin-top:150px;
}
}


@media only screen and (max-width:425px) {
  .responsive {
    display:grid;
    grid-template-columns: 1fr;
  }
  h1{
    text-align: center;
  }

  nav {
    background-color:rgba(20, 19, 19, 0.83);
    width: 50px;
  }
  
  .nav-link{
    background-color:rgba(20, 19, 19, 0.839);   
    border-radius: 10px;
    margin:5px;
    padding:20px;
    color:white;
    height:60px;
  }

  
  .nav-link:hover{
    border-radius: 10px;
    margin:5px;
    padding:20px;
    color:white;
    height:60px;
    width:90%;
    box-shadow:0px 0px 10px rgba(0,0,0,0.1);
}
.navtog{
  position: absolute;
  top:0;
  width:93%;

}
.profile {
  margin: 10px;
  margin-top:150px;
}
}
